:root {
    --primary-color: rgb(135, 5, 135);
    --text-color: white;
    --secondary-color: rgb(236, 167, 236);
}

body {
    background-color: var(--secondary-color);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

ul li {
    list-style: none;
    display: inline;
    padding: 23px;
    font-weight: bolder;
}

ul li a {
    color: var(--text-color);
    text-decoration: none;
}

nav {
    background-color: var(--primary-color);
    padding: 12px 0;
}