* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

.box {
    box-sizing: border-box;
    border: 2px solid black;
    /* width: 233px; */
    width: 80vw;
    margin: auto;
    height: 10vh;
    background-color: aquamarine;
}

.container {
    box-sizing: border-box;
    border: 2px solid black;
    /* width: 233px; */
    width: 80vw;
    margin: 23px auto;
    height: 50vh;
    background-color: aquamarine;
    font-size: 16px;
}

.container p {
    font-size: 1.5rem;
}

.mycont {
    background-color: red;
    color: yellow;
    font-size: 22px;
    width: 100vmin;
}