/* ELEMENT SELECTOR  */
        div {
            color: black;
        }

        /* CLASS SELECTOR  */
        .red {
            background-color: red;
        }

        /* ID SELECTOR  */
        #green {
            background-color: green;
        }

        /* CHILD SELECTOR  */
        div>span {
            color: bisque;
            background-color: black;
        }

        /* DESCENDANT SELECTOR  */
        div p {
            color: bisque;
            background-color: rgb(125, 12, 82);
        }

        /* UNIVERSAL SELECTOR  */
        * {
            margin: 0;
            padding: 0;
        }

        /* PSEUDO SELECTORS */
        a:visited {
            color: green;
        }

        a:link {
            color: blue;
        }